@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h3>CENTRO DE VACUNACION 2021</h3>
    <a href="https://localhost:44382/Home/CrearPaciente" class="btn btn-primary ">Paciente Nuevo</a>
</div>