
@{
    ViewData["Title"] = "Reportes";
}

<h1>Reportes</h1>

<a href="https://localhost:44382/Home/ReportePorcentajeVacunados" class="btn btn-outline-primary">Porcentaje de Vacunados</a>
<br />
<br />
<a href="https://localhost:44382/Home/ReporteListaEspera" class="btn btn-outline-primary ">Lista de espera </a>
<br />
<br />

<a href="https://localhost:44382/Home/Reportevacunados" class="btn btn-outline-primary ">Lista de vacunados </a>
<br />
<br />

